.container1 {
  background-color: black;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  align-items: center;
  height: 40px;
  z-index: 10;
}
.item1 .options1 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: white;
  border: none;
  padding: 10px;
  display: none;
  z-index: 20; /* Set a higher z-index */
}
.container1 .left1{
    display: flex;
    gap:15px;
}
.item1{
    display: flex;
    align-items: center;
    position: relative;
    font-family: Montserrat,Verdana,Helvetica,Arial,sans-serif;
  }
.options-container {
    display: flex; 
    gap: 15px;
}
.item1:hover {
    padding: 40px 5px;
    height: 100%;
    color: black;
    font-weight: 500;
    background-color: white;
  }
  
.item1:hover .options1 {
  margin-top: -30px; 
    display: block;
  }
  
  .options1 a:nth-child(1){
    font-weight: bold;
  }
  .options1 {
    display: flex;
    flex-direction: column; /* Display options vertically */
    margin-right: 20px; /* Adjust margin between options */
  }

  
  .options1 a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: black;
  }
  
  .options1 a:hover {
    color: #a68a3a;
    cursor:pointer;

  }
.container1 .right2 button{
 background-color: inherit;
 color: white;
 border: 1px solid white;
 padding: 5px 20px;
 font-weight: 700;
}